<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Node.js Picture Voting Game</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>

	<body>
		
		<div class="toptab" style="font-family: Brush Script MT, Brush Script Std, cursive;">
			<h1 style="color: blue;"><b><span style="color: red;">HOT</span> or <span style="color: green;">NOT?</span></b></h1>

			<h1 style="color: yellow;"><b>Only For Lovable KIITians</b></h1>
		</div>
		

		<header>

			<h2>A Just For Fun Voting Game</h2>
			<div class="row text-center" style="display: block;">
				
				<img src="img/logo.jpeg" height="200vh">
				
			</div>
		</header>
		


		{{{body}}}


		
		<div class="footer">
			© Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use.
		</div>
		
	</body>
</html>